.http-error-title {
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
    font-family: 'Lato', sans-serif;
    color: $color-primary;

    &__main {
        display: block;
        font-weight: bold;
        font-size: 6rem;
        letter-spacing: 6px;
        line-height: 1;
        margin-bottom: .5rem;
    }

    &__sub {
        font-size: 3.2rem;
        letter-spacing: 3px;
    }
}

.http-error-description {
    width: 70%;
    margin: 0 auto;
    color: $color-grey-dark-2;
    line-height: 1.8;
}
