.article {
	width: 70%;
    margin: 0 auto;

    &-title {
        font-size: 2.8rem;
        letter-spacing: 1px;
        line-height: 1.6;
    }

    @include respond(phone) {
        width: 100%;
    }

}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-name {
    color: $color-secondary;
    font-weight: bold;
}

.edit-link {

    & a:not(:last-child) {
        margin-right: 1.2rem;
    }
}

.category-badge {
    display: inline-block;
    padding: .6rem 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: $color-primary;
    color: $color-white;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
}

.section-description {
    line-height: 1.6;
}

.section-img-box {

    width: 100%;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;

    & .main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;

    }
}

.section-comment {
    width: 70%;
    margin: 0 auto;

    @include respond(phone) {
        width: 100%;
    }
}
