@import url(https://fonts.googleapis.com/css?family=Lato:400,700);@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our noraml styles apply
1800px + :      Big Desktop

$breakpoint argument choices:
-   phone
-   tab-port
-   tab-land
-   big-desktop

1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-20rem);
    transform: translate(-20rem);
  }
  80% {
    -webkit-transform: translate(1rem);
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-20rem);
    transform: translate(-20rem);
  }
  80% {
    -webkit-transform: translate(1rem);
    transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(15rem);
    transform: translate(15rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(15rem);
    transform: translate(15rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes stroke {
  0% {
    fill: transparent;
    stroke-dashoffset: 4000;
  }
  10% {
    fill: transparent;
  }
  80% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #3c4f6b;
  }
}
@keyframes stroke {
  0% {
    fill: transparent;
    stroke-dashoffset: 4000;
  }
  10% {
    fill: transparent;
  }
  80% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #3c4f6b;
  }
}
@-webkit-keyframes strokeLine {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes strokeLine {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes showFromRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes showFromRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes showFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes showFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes showFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes showFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes showScale {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes showScale {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes bounce {
  0% {
    top: -5%;
  }
  50% {
    top: -20%;
  }
  100% {
    top: -5%;
  }
}
@keyframes bounce {
  0% {
    top: -5%;
  }
  50% {
    top: -20%;
  }
  100% {
    top: -5%;
  }
}
@-webkit-keyframes bounceShort {
  0% {
    top: -2%;
  }
  50% {
    top: -9%;
  }
  100% {
    top: -2%;
  }
}
@keyframes bounceShort {
  0% {
    top: -2%;
  }
  50% {
    top: -9%;
  }
  100% {
    top: -2%;
  }
}
@-webkit-keyframes flashMsg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes flashMsg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 14px;
  font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #333;
}

.page-title {
  font-size: 2.4rem;
  letter-spacing: 2px;
  color: #3c4f6b;
  font-weight: bold;
}

.section-title {
  font-size: 1.8rem;
  letter-spacing: 1px;
  color: #777;
}

.link-text {
  font-size: inherit;
}
.link-text:link, .link-text:visited {
  color: #777;
}
.link-text--primary:link, .link-text--primary:visited {
  color: #ff5851;
}
.link-text--primary:hover {
  color: #ff7973;
}

.u-center-text {
  text-align: center !important;
}

.u-mb-small {
  margin-bottom: 1.5rem !important;
}

.u-mb-medium {
  margin-bottom: 4rem !important;
}

.u-mb-big {
  margin-bottom: 8rem !important;
}

.u-mb-huge {
  margin-bottom: 10rem !important;
}

.u-mt-small {
  margin-top: 1.5rem !important;
}

.u-mt-medium {
  margin-top: 4rem !important;
}

.u-mt-big {
  margin-top: 8rem !important;
}

.u-mt-huge {
  margin-top: 10rem !important;
}

.u-bg-grey {
  background-color: #f4f8fa !important;
}

.u-bg-white {
  background-color: #fff !important;
}

.u-outline-grey {
  border: 1px solid #e9eef1;
}

.u-max-width {
  max-width: 1000px !important;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .u-max-width {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-max-width {
    width: 90%;
  }
}

.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  font-size: inherit;
  cursor: pointer;
  transition: 0.2s all;
}
.btn:link, .btn:visited {
  text-decoration: none;
}
.btn--primary {
  background-color: #ff5851;
  color: #fff;
}
.btn--primary:hover {
  background-color: #ff372f;
}
.btn--ghost {
  background-color: #fff;
  color: #ff5851;
}
.btn--ghost:hover {
  background-color: #ff372f;
  color: #fff;
}
.btn--search {
  background-color: #3c4f6b;
  color: #fff;
}
.btn--search:hover {
  background-color: #242f40;
}
@media only screen and (max-width: 37.5em) {
  .btn--search {
    width: 100%;
  }
}
.btn--full {
  width: 100%;
  padding: 2rem 3rem;
}
.btn--big {
  width: 50%;
  padding: 2rem 3rem;
}
@media only screen and (max-width: 37.5em) {
  .btn--big {
    width: 100%;
  }
}
.btn--small {
  width: 35%;
  padding: 2rem 2.5rem;
}
@media only screen and (max-width: 37.5em) {
  .btn--small {
    width: 60%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
@media only screen and (max-width: 56.25em) {
  .card {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 37.5em) {
  .card {
    display: block;
  }
}
.card__link {
  min-height: 25rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e9eef1;
  padding: 1.5rem 2rem;
  display: block;
  transition: background-color 0.2s;
}
.card__link:link, .card__link:visited {
  text-decoration: none;
  color: #333;
}
.card__link:hover, .card__link:active {
  background-color: #e9eef1;
}
.card__link:hover img, .card__link:active img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
@media only screen and (max-width: 37.5em) {
  .card__link {
    height: auto;
    padding: 1.8rem 2.2rem;
  }
}
.card--3cl .card__item {
  width: calc(33.33333333% - 2rem);
  margin-bottom: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .card--3cl .card__item {
    width: 46%;
  }
}
@media only screen and (max-width: 37.5em) {
  .card--3cl .card__item {
    width: 100%;
    margin-bottom: 4rem;
  }
}
.card--3cl .card__item:not(:nth-child(3n)) {
  margin-right: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .card--3cl .card__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}
.card--2cl .card__item {
  width: calc(50% - 2rem);
  margin-bottom: 4rem;
}
.card--2cl .card__item:not(:nth-child(2n)) {
  margin-right: 4rem;
}
.card__heading {
  margin-bottom: 1rem;
}
.card__body {
  height: 8rem;
  color: #777;
  font-size: 1.4rem;
}
@media only screen and (max-width: 37.5em) {
  .card__body {
    height: auto;
  }
}
.card-title {
  display: block;
  height: 5rem;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #485f81;
  font-weight: bold;
}
.card-img {
  width: 100%;
  height: 12rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.card-category {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #ff5851;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.5rem 0.7rem;
  box-sizing: border-box;
}
.card-date {
  color: #485f81;
}

.comment {
  padding: 2rem 0;
  border-bottom: 1px solid #e9eef1;
  margin-bottom: 2rem;
}
.comment__heading {
  display: block;
  margin-bottom: 1.5rem;
}
.comment-user {
  display: block;
  font-weight: bold;
}
.comment-date {
  color: #485f81;
}

.comment-form {
  width: 80%;
}
@media only screen and (max-width: 37.5em) {
  .comment-form {
    width: 100%;
  }
}

.flash-msg {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  -webkit-animation: flashMsg 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
  animation: flashMsg 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.flash-msg--success {
  color: #fff;
  background-color: rgba(41, 128, 185, 0.6);
}
.flash-msg--alert {
  color: #fff;
  background-color: rgba(231, 76, 60, 0.6);
}

.form {
  /* checkbox */
  /* radio */
  /* error */
}
.form-container {
  border-radius: 5px;
  box-sizing: border-box;
}
.form-container--medium {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 6rem;
}
@media only screen and (max-width: 56.25em) {
  .form-container--medium {
    width: 65%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form-container--medium {
    width: 90%;
    padding: 4rem 3rem;
  }
}
.form-container--small {
  width: 40%;
  margin: 0 auto;
  padding: 4rem 8rem;
}
@media only screen and (max-width: 75em) {
  .form-container--small {
    width: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  .form-container--small {
    width: 70%;
  }
}
@media only screen and (max-width: 37.5em) {
  .form-container--small {
    width: 90%;
    padding: 4rem 3rem;
  }
}
.form-container--search {
  padding: 2rem 4rem;
}
.form__title {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #333;
  text-align: center;
  margin-bottom: 4rem;
}
.form__message {
  margin-bottom: 4rem;
  padding: 2rem 4rem;
  border-radius: 5px;
}
.form__message--success {
  border: 1px solid #27ae60;
  color: #27ae60;
}
.form__message--error {
  border: 1px solid red;
  color: red;
}
.form__message--error .error-list__item:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:not(:last-child) {
  margin-bottom: 4.5rem;
}
.form__group--half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__group--half .half-form {
  width: 47%;
}
@media only screen and (max-width: 37.5em) {
  .form__group--half {
    display: block;
  }
  .form__group--half .half-form {
    width: 70%;
    margin-bottom: 4.5rem;
  }
}
.form__label {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.form__label .label-text {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  margin-right: 1rem;
  vertical-align: middle;
}
.form__required-badge {
  display: inline-block;
  width: 4rem;
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ff5851;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (max-width: 37.5em) {
  .form__required-badge {
    width: 4.5rem;
  }
}
.form__input, .form__select, .form__textarea {
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #e9eef1;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}
.form__input:focus, .form__select:focus, .form__textarea:focus {
  border-bottom: 1px solid #3498db;
}
.form__textarea {
  resize: none;
}
.form__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-select-wrap {
  position: relative;
}
.form-select-wrap::after {
  font-family: "Font Awesome 5 Free";
  content: "\F0D7";
  position: absolute;
  font-weight: bold;
  color: #333;
  top: 55%;
  right: 5%;
  pointer-events: none;
}
.form-check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.form__check-group {
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.form__label-checkbox {
  position: relative;
  top: 1px;
}
.form-radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.form__radio-group {
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.form__label-radio {
  position: relative;
  top: 1px;
}
.form__input-error {
  background-color: rgba(255, 0, 0, 0.2);
}
.form__btn {
  margin-bottom: 2rem;
}

.form--search .form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .form--search .form__group {
    width: 100%;
  }
  .form--search .form__group:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .form--search .half-form {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.form--search .form__label .label-text {
  font-size: 1.6rem;
}
.form--search .form__input, .form--search .form__select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.form--search .form__input {
  padding: 1.5rem 2rem;
}
.form--search .form__select {
  padding: 1.3rem 2rem;
  color: #333;
}

.search-toggle {
  background-color: #3c4f6b;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 20rem;
  transition: 0.3s all;
}
.search-toggle span {
  margin-right: 0.5rem;
  transition: 0.3s all;
}
.search-toggle:hover {
  background-color: #242f40;
}
.search-toggle:hover span {
  margin-right: 1.2rem;
}
.search-toggle--active {
  width: 8rem;
  padding: 0.5rem 0;
}
.search-toggle--active span {
  display: none;
}

.media__item:not(:last-child) {
  margin-bottom: 4rem;
}
.media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18rem;
  box-sizing: border-box;
  border: 1px solid #e9eef1;
  border-radius: 5px;
}
.media__link:link, .media__link:visited {
  text-decoration: none;
  color: currentColor;
}
@media only screen and (max-width: 37.5em) {
  .media__link {
    height: 12rem;
  }
}
.media__img {
  flex: 0 0 35%;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
}
.media__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
}
.media__heading {
  height: 4rem;
  margin-bottom: 2.5rem;
}
.media__body {
  box-sizing: border-box;
  padding: 2rem 2rem;
}
.media-title {
  font-size: 1.6rem;
  color: #485f81;
  font-weight: bold;
}
.media__description {
  color: #999;
}
@media only screen and (max-width: 37.5em) {
  .media__description {
    display: none;
  }
}
.media-date {
  color: #485f81;
}

.pagination {
  display: inline-block;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.pagination__item {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}
.pagination__item:not(:last-child) {
  margin-right: 1.3rem;
}
@media only screen and (max-width: 37.5em) {
  .pagination__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}
.pagination__item--dots {
  border-radius: 50%;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.pagination__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ff5851;
  border-radius: 50%;
  border: 1px solid #ff5851;
}
.pagination__link:hover {
  background-color: #ff5851;
  color: #fff;
}

.page-active {
  background-color: #ff5851;
  color: #fff;
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.tag-list__item {
  margin-right: 3rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 2px solid #485f81;
  border-radius: 5px;
}
.tag-list__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.7rem 2.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
}
.tag-list__link:link, .tag-list__link:visited {
  text-decoration: none;
  color: #485f81;
}
.tag-list__link:hover, .tag-list__link:active {
  background-color: #485f81;
  color: #fff;
}

.container-single {
  padding-top: 6rem;
  padding-bottom: 6rem;
  box-sizing: border-box;
}

.container-multi {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 75em) {
  .container-multi {
    display: block;
  }
}
.container-multi .main {
  width: 65%;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 75em) {
  .container-multi .main {
    width: 100%;
  }
}
.container-multi .sidebar {
  width: 30%;
}
@media only screen and (max-width: 75em) {
  .container-multi .sidebar {
    width: 100%;
    margin-bottom: 6rem;
  }
}

.main {
  border-radius: 5px;
  box-sizing: border-box;
}

.sidebar-content {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2rem 4rem;
}
.sidebar-content:not(:last-child) {
  margin-bottom: 4rem;
}
.sidebar-content__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.page-heading {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.footer {
  padding-top: 6rem;
  padding-bottom: 4rem;
  border-top: 1px solid #e9eef1;
}
.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 75em) {
  .footer-container {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer-container {
    width: 90%;
  }
}
.footer-logo {
  font-size: 2.4rem;
}
.footer-logo__link {
  text-decoration: none;
  color: currentColor;
  transition: all 0.2s;
}
.footer-logo__link:hover {
  color: #ff5851;
}

.copy-right {
  font-size: 12px;
  text-align: center;
}

.header {
  border-bottom: 1px solid #e9eef1;
}
.header-container {
  min-height: 6rem;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .header-container {
    width: 80%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header-container {
    width: 90%;
  }
}
.header-logo {
  font-size: 2.4rem;
}
.header-logo__link {
  text-decoration: none;
  color: currentColor;
  transition: color 0.2s;
}
.header-logo__link:hover {
  color: #ff5851;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.main-nav__item:not(:last-of-type) {
  margin-right: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .main-nav__item:not(:last-of-type) {
    margin-right: 2rem;
  }
}
.main-nav__link {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: color 0.2s, border-bottom 0.2s;
}
.main-nav__link:hover {
  color: #ff5851;
  border-bottom: 2px solid #ff5851;
}
@media only screen and (max-width: 37.5em) {
  .main-nav__link {
    font-size: 1.6rem;
  }
}

.http-error-title {
  font-family: "Lato", sans-serif;
  color: #ff5851;
}
.http-error-title__main {
  display: block;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: 6px;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.http-error-title__sub {
  font-size: 3.2rem;
  letter-spacing: 3px;
}

.http-error-description {
  width: 70%;
  margin: 0 auto;
  color: #999;
  line-height: 1.8;
}

.article {
  width: 70%;
  margin: 0 auto;
}
.article-title {
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 1.6;
}
@media only screen and (max-width: 37.5em) {
  .article {
    width: 100%;
  }
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-name {
  color: #3c4f6b;
  font-weight: bold;
}

.edit-link a:not(:last-child) {
  margin-right: 1.2rem;
}

.category-badge {
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ff5851;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

.section-description {
  line-height: 1.6;
}

.section-img-box {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.section-img-box .main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
}

.section-comment {
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 37.5em) {
  .section-comment {
    width: 100%;
  }
}

.hero-box {
  min-height: 40rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/../img/hero.jpg);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/../img/hero.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/../img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .hero-box {
    min-height: 25rem;
  }
}
.hero-box__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
}
.hero-box__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .hero-box__btn {
    display: block;
  }
}
.hero-box__btn .btn:not(:last-child) {
  margin-right: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .hero-box__btn .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

.hero-copy {
  font-size: 3.2rem;
  color: #fff;
  letter-spacing: 1px;
}
@media only screen and (max-width: 37.5em) {
  .hero-copy {
    font-size: 2.6rem;
  }
}