$color-primary: #ff5851;
$color-primary-light: #ff7973;
$color-primary-dark: #ff372f;

$color-secondary: #3c4f6b;
$color-secondary-light: #485f81;
$color-secondary-dark: #242f40;

$color-grey-light-1: #e6e6e6;
$color-grey-light-2: #cccccc;
$color-grey-light-3: #f4f8fa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-bg: #f4f8fa;
$color-grey-line: #e9eef1;

$color-green: #27ae60;

// FONT
$default-font-size: 14px;

$max-width: 1000px;

